.card button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(90deg, #ff003c, #ff4d6d);
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 15px rgba(255,0,60,0.7);
}
