.hero {
  background: url('https://w.wallhaven.cc/full/7j/wallhaven-7jwrp3.jpg') center/cover no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-size: 50px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: red;
  border: none;
  color: white;
}
