.hero {
  background-image: url('https://w.wallhaven.cc/full/7j/wallhaven-7jwrp3.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
