.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  background: #111;
  padding: 20px;
  margin: 15% auto;
  width: 300px;
  text-align: center;
}

.hidden {
  display: none;
}
