body {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),
              url('https://w.wallhaven.cc/full/ml/wallhaven-mlw2l9.jpg') center/cover no-repeat fixed;
  color: white;
  font-family: 'VT323', monospace;
}

.logo {
  color: #ff003c;
  font-size: 28px;
}

/* SECTION */
.section {
  padding: 60px;
  text-align: center;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .section {
    padding: 30px 15px;
  }
}
